// .about-section h4 {
//   color: var(--dark);
//   margin-left: 90px;
//   // margin-bottom: 35px;
//   line-height: 200px;
// }

// .about-section img {
//   height: 640px;
//   width: 605px;
//   margin-top: 20px;
//   margin-bottom: 100px;
//   margin-left: 90px;
//   border: 3px solid black;
//   // border-radius: 20px;
// }

// .about-section {
//   background-color: var(--light);
//   width: 100%;
//   span {
//     display: flex;
//     flex-direction: column;
//     justify-content: flex-start;
//     align-content: flex-start;
//     align-items: flex-start;
//     text-indent: 30rem;
//   }
// }

// #about-item1 {
//   margin-top: 7px;
//   // margin-top: 20px;
//   margin-left: 75px;
// }

// #skills-heading {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   text-align: center;
//   flex-direction: column;
//   margin-bottom: 0px;
//   margin-top: 20px;
//   margin-right: 475px;
//   font-family: Helvetica;
//   font-weight: bold;
//   font-size: 35px;
//   letter-spacing: 10px;
//   color: var(--bright);
//   text-decoration: underline;
// }

// .about-container {
//   display: flex;
//   // background-color: black;
// }

// .about-skills {
//   background-color: var(--light);
//   // background-color: #1dfb15;
//   margin-left: 50px;
// }

// .about-skills img {
//   // height: 100px;
//   // width: 100px;
//   height: 50px;
//   width: 50px;
//   // margin-left: 50px;
//   // margin-right: 50px;
//   // margin-bottom: 50px;
//   margin-left: 25px;
//   margin-right: 25px;
//   margin-bottom: 25px;
//   // display: flex;
//   border: none;
// }

// #django-logo1 {
//   // width: 200px;
//   width: 100px;
// }

// #django-logo2 {
//   // width: 200px;
//   width: 100px;
// }

// #about-item2 {
//   margin-left: 78px;
//   color: var(--dark);
// }

.about {
  display: flex;
  flex-flow: column wrap;
  background-color: var(--dark);
  padding: 100rem 100rem 0rem 100rem;
  border-top: 3rem solid var(--bright);
  max-width: 100%;
  @include respond-to("small") {
    padding: 100rem 0rem 0rem 0rem;
  }

  &__container {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    row-gap: 50rem;
    p {
      color: var(--light);
      text-align: center;
      margin-bottom: 50rem;
    }
    @include respond-to("small") {
      // display: flex;
      // flex-flow: column wrap;
      // justify-content: flex-start;
      // align-items: flex-start;
      // align-content: flex-start;
      p {
        text-align: center;
        color: var(--light);
        margin-bottom: 50rem;
      }
    }
  }
  &__image-placeholder {
    background: url(/images/myphoto.jpeg) no-repeat scroll;
    width: 100%;
    background-size: 100% 100%;
    height: 302.5rem;
    margin-top: 20rem;
    @include respond-to("small") {
      padding-right: 0rem;
      padding-left: 0rem;
      height: 640rem;
      width: 605rem;
      margin-bottom: 100rem;
      margin-left: 10rem;
    }
  }

  h4 {
    text-align: center;
    // text-shadow: 5rem 5rem var(--bright);
    margin-bottom: 50rem;
    color: var(--bright);
    @include respond-to("small") {
    }
  }

  &__links {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    row-gap: 25rem;
    margin-bottom: 100rem;
    @include respond-to("small") {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      align-content: center;
      justify-content: space-evenly;
    }
    li {
    }
    img {
      width: 60rem;
      height: 60rem;
    }
  }
}

#about-resume {
  border: 3rem ridge var(--bright);
  color: var(--bright);
  text-align: center;
  font-family: "GemunuLibre Medium";
  font-weight: bold;
  padding: 10rem 40rem 10rem 40rem;
  letter-spacing: 5rem;
  margin-bottom: 0rem;
  @include respond-to("small") {
    border: 3rem ridge var(--bright);
    color: var(--bright);
    font-family: "GemunuLibre Medium";
    padding: 10rem 40rem 10rem 40rem;
    letter-spacing: 5rem;
  }
}

#about-resume:hover {
  color: var(--light);
  border: 3rem ridge var(--light);
}
