.about {
  display: flex;
  flex-flow: column wrap;
  background-color: var(--dark);
  padding: 100rem 0rem 0rem 0rem;
  border-top: 3rem solid var(--bright);
  max-width: 100%;

  @include respond-to("small") {
    padding: 100rem 0rem 0rem 0rem;
  }

  &__container {
    max-width: 100%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    row-gap: 50rem;

    p {
      color: var(--light);
      text-align: center;
      margin-bottom: 50rem;
      max-width: 100%;

      @include respond-to("small") {
        max-width: 1200rem;
        text-align: left;
      }
    }
  }

  &__image-placeholder {
    background: url(/images/myphoto.jpeg) no-repeat scroll;
    width: 75%;
    background-size: 100% 100%;
    height: 302.5rem;
    margin-top: 20rem;
    border: 5rem double var(--light);
    margin-bottom: 20rem;

    @include respond-to("small") {
      padding: 0rem 0rem;
      height: 640rem;
      width: 605rem;
    }
  }

  h4 {
    text-align: center;
    margin-bottom: 50rem;
    color: var(--bright);
  }

  &__links {
    max-width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    row-gap: 25rem;
    margin-bottom: 100rem;

    img {
      width: 60rem;
      height: 60rem;

      // https://codepen.io/sosuke/pen/Pjoqqp
      // changes color to green or #1dfb15
      filter: invert(51%) sepia(62%) saturate(1184%) hue-rotate(78deg)
        brightness(123%) contrast(102%);
    }

    img:hover {
      // https://codepen.io/sosuke/pen/Pjoqqp
      // changes svg to color white or #fffff
      filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(88deg)
        brightness(105%) contrast(102%);
    }
  }

  #about-resume {
    border: 3rem ridge var(--bright);
    color: var(--bright);
    text-align: center;
    font-family: "GemunuLibre Medium";
    font-weight: bold;
    padding: 10rem 40rem 10rem 40rem;
    letter-spacing: 5rem;
    margin-bottom: 0rem;
  }

  #about-resume:hover {
    color: var(--light);
    border: 3rem ridge var(--light);
  }
}
