.box1 {
  background-image: url(/images/software.jpg);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: 1440px 1036px;
  width: 1440px;
  height: 1036px;
}

h1 {
  font-size: 100px;
  color: #ffffff;
  font-family: Helvetica;
  font-weight: bold;
}

h3 {
  font-size: 50px;
  color: #1dfb15;
  font-family: Helvetica;
  font-weight: bold;
}
