.box1 {
  background-image: url(/images/Software.jpg);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: 1440px 1036px;
  width: 1440px;
  height: 1036px;
}

.box1 h1 {
  margin-top: 140px;
  margin-left: 140px;
}

.box1 h3 {
  margin-left: 140px;
}

h1 {
  font-size: 100px;
  color: #ffffff;
  font-family: Helvetica;
  font-weight: bold;
}

/* The animation code */
@keyframes name {
  from {
    color: #1dfb15;
  }
  to {
    color: gold;
  }
}

h3 {
  font-size: 85px;
  color: #1dfb15;
  font-family: Helvetica;
  font-weight: bold;
  animation-name: name;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

li {
  text-align: center;
  color: #ffffff;
  font-size: 14px;
  font-family: Helvetica;
  font-weight: bold;
  display: flex;
  margin-right: 10px;
}

li:hover {
  color: #1dfb15;
}

.box2 {
  margin-top: 100px;
}

.box2 h5 {
  font-size: 18px;
  font-family: Helvetica;
  font-weight: bold;
  color: black;
  margin-left: 90px;
  margin-top: 50px;
  margin-bottom: 35px;
  letter-spacing: 9px;
}

.box2 img {
  height: 640px;
  width: 605px;
  margin-top: 20px;
  margin-bottom: 100px;
  margin-left: 90px;
}

.box2 {
  margin-bottom: 100px;
}

.box3 {
  width: 1440px;
}

.box3 img {
  width: 1440px;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
}

.flex-container li {
  margin-top: 60px;
  margin-left: 0px;
  margin-right: 65px;
}

#enquire {
  border: 3px solid #1dfb15;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 40px;
  padding-left: 40px;
  color: #1dfb15;
  :hover {
    color: #ffffff;
  }
}

#item-3 {
  font-size: 55px;
  margin-top: 6px;
  margin-left: 75px;
  font-family: Helvetica;
  font-weight: bold;
}

#item3-info {
  display: flex;
  flex-direction: column;
}

.mini-box {
  display: flex;
}
