#contact-form input {
  margin-bottom: 10px;
  background-color: #fff;
  color: black;
}

#contact-form textarea {
  margin-bottom: 10px;
  background-color: #fff;
  color: black;
}

#contact-form label {
  color: #fff;
  font-size: 40px;
}

input#submit {
  display: flex;
  justify-content: center;
  margin-left: 640px;
  margin-top: 10px;
  font-size: 25px;
  width: 160px;
  height: 75px;
  font-family: Helvetica;
  font-weight: bold;
  padding: 5px 5px 5px 5px;
  background-color: #1dfb15;
  color: #fff;
  border: 2px double #fff;
}

input#submit:hover {
  background-color: lightgreen;
  cursor: pointer;
}

#contact-header {
  margin-right: auto;
  margin-left: auto;
  color: #1dfb15;
}

#contact-page {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.form-fields label {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.form-fields input {
  width: 800px;
  padding: 20px;
  font-family: Helvetica;
  border: 5px double black;
}

.form-fields textarea {
  min-width: 800px;
  max-width: 800px;
  min-height: 200px;
  max-height: 200px;
  padding: 20px;
  font-family: Helvetica;
  border: 5px double black;
}

label p {
  font-family: Helvetica;
  font-weight: bold;
  font-size: 50px;
  color: #1dfb15;
  margin-right: 550px;
}

.input-header {
  margin-right: 630px;
}

.form-fields {
  margin-bottom: 20px;
}

.contact-box {
  background-image: url(/images/Software.jpg);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: 1440px 1100px;
  width: 1440px;
  height: 1100px;
}

.contact-box h1 {
  margin-top: 50px;
  margin-left: 140px;
  margin-bottom: 25px;
}

.contact-box h3 {
  margin-left: 140px;
}
