#contact-form input {
  margin-bottom: 10px;
  background-color: #fff;
  color: black;
}

#contact-form textarea {
  margin-bottom: 10px;
  background-color: #fff;
  color: black;
}

#contact-form label {
  color: #fff;
  font-size: 40px;
}

input#submit {
  display: flex;
  justify-content: center;
  margin-left: 640px;
  margin-top: 10px;
  font-size: 25px;
  width: 160px;
  height: 75px;
  font-family: Helvetica;
  font-weight: bold;
  padding: 5px 5px 5px 5px;
  // background-color: #1dfb15;
  background-color: #1dfb15;
  color: black;
  // color: #fff;
  border: 3px solid black;
}

input#submit:hover {
  cursor: pointer;
  opacity: 0.8;
}

#contact-header {
  margin-right: 400px;
  margin-left: 0px;
  color: #1dfb15;
  letter-spacing: 5px;
  text-shadow: 5px 5px black;
}

#contact-page {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.form-fields label {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.form-fields input {
  width: 800px;
  padding: 20px;
  font-family: Helvetica;
  border: 5px double #1dfb15;
}

.form-fields textarea {
  min-width: 800px;
  max-width: 800px;
  min-height: 200px;
  max-height: 200px;
  padding: 20px;
  font-family: Helvetica;
  border: 5px double #1dfb15;
}

label p {
  font-family: Helvetica;
  font-weight: bold;
  font-size: 50px;
  // color: #1dfb15;
  color: #fff;
  margin-right: 510px;
  letter-spacing: 5px;
  text-shadow: 5px 5px black;
  color: #1dfb15;
}

.input-header {
  margin-right: 600px;
}

.form-fields {
  margin-bottom: 20px;
}

#contact-page {
  background-color: #fff;
}
