.contact {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: var(--light);
  border-top: 3rem solid var(--bright);
  padding: 100rem 0rem 0rem 0rem;
  max-width: 100%;
  height: auto;

  form {
    max-width: 100%;
    margin-bottom: 40rem;
    @include respond-to("small") {
      display: flex;
      flex-flow: column wrap;
      justify-content: flex-end;
      align-content: flex-end;
      align-items: flex-end;
    }
  }

  h4 {
    text-align: center;
    text-shadow: 5rem 5rem var(--dark);
    margin-bottom: 50rem;
    letter-spacing: 5rem;
    color: var(--bright);
  }

  input {
    margin-bottom: 10rem;
    background-color: var(--bright);
    color: var(--dark);
    width: 100%;
    padding: 20rem;
    font-family: "GemunuLibre Medium";
    border: 5rem double var(--dark);

    @include respond-to("small") {
      width: 800rem;
    }
  }

  input::placeholder {
    color: var(--dark);
    text-align: center;

    @include respond-to("small") {
      text-align: left;
    }
  }

  input:focus {
    outline: none;
  }

  textarea {
    margin-bottom: 10rem;
    background-color: var(--bright);
    color: var(--dark);
    max-width: 100%;
    padding: 20rem;
    min-height: 200rem;
    font-family: "GemunuLibre Medium";
    border: 5rem double var(--dark);

    @include respond-to("small") {
      min-width: 800rem;
      max-width: 800rem;
    }
  }

  textarea::placeholder {
    color: var(--dark);
    text-align: center;

    @include respond-to("small") {
      text-align: left;
    }
  }

  textarea:focus {
    outline: none;
  }

  input#submit {
    margin-top: 10rem;
    font-size: 25rem;
    letter-spacing: 5rem;
    width: 160rem;
    height: 75rem;
    font-family: "GemunuLibre Medium";
    font-weight: bold;
    padding: 5rem;
    text-align: center;
    background-color: var(--bright);
    color: var(--dark);
    border: 3rem solid var(--dark);
  }

  input#submit:hover {
    cursor: pointer;
    background-color: var(--dark);
    color: var(--bright);
    border: 3rem solid var(--bright);
  }

  label {
    color: var(--dark);
    font-size: 40rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    align-content: center;

    @include respond-to("small") {
      align-items: flex-start;
    }
  }

  label p {
    font-weight: bold;
    font-size: 35rem;
    // letter-spacing: 5rem;
    color: var(--dark);
  }

  &__form-fields {
    margin-bottom: 20rem;
  }
}
