.header {
  background-image: url(/images/software.jpg);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: 1440px 1036px;
  width: 1440px;
  height: 1036px;
}

.header h1 {
  margin-top: 140px;
  margin-left: 140px;
  color: #ffffff;
}

.header h3 {
  margin-left: 140px;
}

h1 {
  font-size: 100px;
  color: #ffffff;
  font-family: Helvetica;
  font-weight: bold;
  opacity: 1;
}

/* The animation code */
// @keyframes name {
//   from {
//     color: #1dfb15;
//   }
//   to {
//     color: #ffffff;
//   }
// }

h3 {
  font-size: 85px;
  color: #1dfb15;
  opacity: 1;
  font-family: Helvetica;
  font-weight: bold;
  animation-name: name;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

li {
  text-align: center;
  color: #1dfb15;
  font-size: 14px;
  font-family: Helvetica;
  font-weight: bold;
  display: flex;
  margin-right: 10px;
}

li:hover {
  color: #ffffff;
}
// .current {
//   background-color: #ffffff;
// }

.section1 h5 {
  font-size: 18px;
  font-family: Helvetica;
  font-weight: bold;
  color: black;
  margin-left: 90px;
  // margin-bottom: 35px;
  letter-spacing: 9px;
  line-height: 200px;
}

.section1 img {
  height: 640px;
  width: 605px;
  margin-top: 20px;
  margin-bottom: 100px;
  margin-left: 90px;
}

.section1 {
  margin-bottom: 100px;
  background-color: #ffffff;
}

.nav-menu {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
}

.nav-menu li {
  margin-top: 60px;
  margin-left: 0px;
  margin-right: 65px;
  letter-spacing: 5px;
}

#enquire {
  border: 3px solid #1dfb15;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 40px;
  padding-left: 40px;
  color: #1dfb15;
}
#enquire:hover {
  color: black;
  background-color: #1dfb15;
  border: 3px solid black;
}

#item-3 {
  font-size: 55px;
  margin-top: 6px;
  margin-left: 75px;
  font-family: Helvetica;
  font-weight: bold;
}

#item3-info {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 30px;
  letter-spacing: 9px;
}

.mini-box {
  display: flex;
  // background-color: black;
}

.skills {
  background-color: #ffffff;
  height: 1000px;
}

.skills img {
  height: 100px;
  width: 100px;
  // display: flex;
}

#django-logo1 {
  width: 200px;
}

#django-logo2 {
  width: 200px;
}
