body {
  h1 {
    font-family: "GemunuLibre ExtraBold";
    font-size: 80rem;
    letter-spacing: 5rem;
    @include respond-to("small") {
      font-size: 100rem;
    }
  }
  h2 {
    font-size: 65rem;
    letter-spacing: 5rem;
  }
  h3 {
    font-family: "GemunuLibre ExtraBold";
    font-size: 50rem;
    letter-spacing: 5rem;
  }
  h4 {
    font-family: "GemunuLibre ExtraBold";
    font-size: 35rem;
    letter-spacing: 5rem;
  }
  h5 {
    font-family: "GemunuLibre ExtraBold";
    font-size: 35rem;
    letter-spacing: 5rem;
  }
  p {
    font-family: "GemunuLibre ExtraBold";
    font-size: 20rem;
  }
}

// css for desktop devices
@include respond-to("small") {
  body {
    h1 {
      // font-size: 85rem;
      font-size: 100rem;
    }
    h2 {
      font-size: 80rem;
    }
    h3 {
      // font-size: 60rem;
      font-size: 65rem;
    }
    h4 {
      font-size: 50rem;
    }
    h5 {
      font-size: 35rem;
    }
    h6 {
      font-size: 20rem;
    }
    p {
      font-family: "GemunuLibre Medium";
      font-weight: bold;
      font-size: 25rem;
      word-spacing: 5rem;
    }
  }
}
