// css for mobile devices
body {
  h1 {
    font-family: Helvetica;
    font-weight: bold;
    font-size: 65rem;
    // font-size: 75px;
    // letter-spacing: 5px;
    // font-size: 100rem;
    letter-spacing: 5px;
  }
  h2 {
    font-size: 53.75rem;
  }
  h3 {
    font-family: Helvetica;
    font-weight: bold;
    font-size: 42.5rem;
    // font-size: 60px;
    // font-size: 42.5px;
    // letter-spacing: 5px;
    // font-size: 42.5rem;
    // font-size: 85rem;
    letter-spacing: 5px;
  }
  h4 {
    font-family: Helvetica;
    font-weight: bold;
    // font-size: 25px;
    // letter-spacing: 10px;
  }
  h5 {
    font-family: Helvetica;
    font-weight: bold;
    // font-size: 17.5px;
    // letter-spacing: 5px;
  }
  p {
    font-family: Helvetica;
    font-weight: bold;
    // font-size: 16rem;
  }
}

// css for desktop devices
@include respond-to("small") {
  body {
    h1 {
      font-size: 85rem;
    }
    h2 {
      font-size: 72.5rem;
    }
    h3 {
      font-size: 60rem;
    }
    h4 {
      font-size: 47.5rem;
    }
    h5 {
      font-size: 35rem;
    }
    h6 {
      font-size: 22.5rem;
    }
    p {
      font-family: Helvetica;
      font-weight: bold;
    }
  }
}
